<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
  <typeAliases>
  	<typeAlias type="global.sesoc.my.dto.Member" alias="Member"/>
  	<typeAlias type="global.sesoc.my.dto.ErrorBoard" alias="Board"/>
  	<typeAlias type="global.sesoc.my.dto.Reply" alias="Reply"/>
  </typeAliases>
  
  <mappers>
	<mapper resource="mappers/memberMapper.xml"/>
    <mapper resource="mappers/boardMapper.xml"/>
    <mapper resource="mappers/replyMapper.xml"/>
  </mappers>
</configuration>