<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.my.dao.BoardMapper">

	<sql id="Board-select">
		SELECT
		boardnum,
		userid,
		title,
		content,
		hitcount,
		to_char(regdate, 'YYYY-MM-DD') regdate,
		originalfile,
		savedfile,
		answered
		FROM errorBoard
	</sql>

	<sql id="Board-insert-column">
		boardnum,
		userid,
		title,
		content
		<if test="originalfile != null">
			,
			originalfile,
			savedfile
		</if>
	</sql>
	<!-- 동적쿼리 활용 version1 -->
	<select id="select1" resultType="Board" parameterType="map">
		<include refid="Board-select"/>
		WHERE
		<choose>
			<when test="searchItem == 'title'">title</when>
			<when test="searchItem == 'content'">content</when>
			<when test="searchItem == 'userid'">userid</when>
		</choose>
		like '%' || #{searchWord} || '%'
		ORDER BY
		boardnum desc
	</select>

	<!-- 동적 sql을 활용한 select version2 -->
	<select id="select2" resultType="Board" parameterType="map">
		SELECT * FROM
		(SELECT rownum num, b1.*
		FROM (
		<include refid="Board-select"/>
		WHERE
		${searchItem} like '%' ||
		#{searchWord} || '%'
		ORDER BY boardnum desc)
		b1
		)
		WHERE num &gt;= #{srow}
		AND
		num &lt;= #{erow}

		<!-- WHERE <choose> <when test="searchItem=='title'">title</when> <when 
			test="searchItem=='content'">content</when> <when test="searchItem=='userid'">userid</when> 
			</choose> LIKE '%' || #{searchWord} || '%' -->
	</select>

	<!-- version3 -->
	<select id="select" resultType="Board" parameterType="map">
		<include refid="Board-select"/>
		WHERE ${searchItem} like '%' || #{searchWord} || '%'
		ORDER BY
		boardnum desc
	</select>

	<insert id="insert" parameterType="Board">
		INSERT INTO errorBoard
		(<include refid="Board-insert-column" />)
		VALUES
		(
		errorBoard_seq.nextval,
		#{userid},
		#{title},
		#{content}
		<if test="originalfile != null">
		,	#{originalfile},
			#{savedfile}
		</if>
		)
	</insert>

	<select id="selectOne" resultType="Board" parameterType="int">
		<include refid="Board-select" />
		WHERE
		boardnum = #{boardnum}
	</select>

	<delete id="delete" parameterType="int">
		DELETE FROM errorBoard
		WHERE
		boardnum=#{boardnum}		
	</delete>

	<update id="update" parameterType="Board">
		UPDATE errorBoard
		SET
		title =	#{title},
		content = #{content}		
		<if test="originalfile != null and savedfile != null">
		,
		originalfile = #{originalfile},
		savedfile = #{savedfile}
		</if>
		<if test="originalfile == null and savedfile == null">
		, originalfile = null,
		savedfile =null		
		</if>
		WHERE
		boardnum = #{boardnum}
	</update>

	<update id="updateHitcount" parameterType="int">
		UPDATE errorBoard
		SET
		hitcount=hitcount+1
		WHERE
		boardnum=#{boardnum}
	</update>

	<select id="getTotalBoard" resultType="int" parameterType="map">
		SELECT count(*)
		FROM errorBoard
		WHERE
		${searchItem} like '%' || #{searchWord}
		|| '%'
	</select>

	<update id="answered" parameterType="Board">
		UPDATE errorBoard
		SET
			answered = 1
		WHERE
			boardnum=#{boardnum}
	</update>	
	
</mapper>