<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.my.dao.MemberMapper">
<sql id="select-member3">
	select
		userid,
		username,
		emailID,
		emailDomain,
		point,
		verify
	from member3
</sql>

<!-- 회원가입 -->
<insert id="insertMember" parameterType="Member">
	insert into member3
	(userid, userpwd, username, emailID, emailDomain)
	values
	(
	#{userid},
	#{userpwd},
	#{username},
	#{emailID},
	#{emailDomain}
	)
</insert>

<!-- 회원정보 수정 -->
<update id="updateMember" parameterType="Member">
	update member3
	set
		userpwd = #{userpwd},
		emailID = #{emailID},
		emailDomain = #{emailDomain}
	where
		userid=#{userid}
</update>

<select id="selectOneMember" resultType="Member" parameterType="Member">
	select * from member3
	where
		userid=#{userid}
	and
		userpwd=#{userpwd}	
</select>

<select id="idCheck" resultType="Member" parameterType="String">
	select * from member3
	where
		userid=#{value}
</select>

<update id="pointGet" parameterType="String">
	update member3
	set
		point=point+100
	where
		userid=#{userid}
</update>

<select id="ranking" resultType="Member">
	<include refid="select-member3"/>
	order by
		point desc
</select>

<update id="verify" parameterType="Member">
	update member3
	set
		verify = 'y'
	where
		emailID = #{emailID}
	and
		emailDomain = #{emailDomain}
</update>

</mapper>