<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.my.dao.ReplyMapper">

	<sql id="Reply-Select">
	select
		replynum,
		boardnum,
		userid,
		replytext,
		regdate,
		bestreply
	from reply4
	</sql>
	
	<sql id="Reply-insert-column">
	replynum,
	boardnum,
	userid,
	replytext	
	</sql>

	<!-- 새로운 댓글 등록 -->
	<insert id="replyInsert" parameterType="Reply">
		INSERT INTO reply4
		(<include refid="Reply-insert-column"/>)
		VALUES(
		reply4_seq.nextval,
		#{boardnum},
		#{userid},
		#{replytext}
		)
	</insert>
	
	<!-- 해당 게시들에 있는 모든 댓글 불러오기 -->
	<select id="replyAll" resultType="Reply" parameterType="int">
		<include refid="Reply-Select"/>
		where
			boardnum = #{boardnum}
		order by bestreply desc, replynum
	</select>

	<!-- 특정 댓글 1개를 삭제 -->
	<delete id="replyDelete" parameterType="int">
		delete from reply4
		where replynum = #{value}
	</delete>
	
	<!-- 게시물이 지워졌을 때 게시물에 있던 댓글도 모두 삭제 -->
	<delete id="replyAllDelete" parameterType="int">
	delete from reply4
	where
		boardnum=#{boardnum}
	</delete>
	
	<!-- 댓글 수정 -->
	<update id="replyUpdate" parameterType="Reply">
		update reply4
		set
		replytext=#{replytext}
		where
		replynum=#{replynum}
		and
		boardnum=#{boardnum}
	</update>
	
	<!-- 댓글 1개만 선택 -->
	<select id="replySelectOne" resultType="Reply" parameterType="int">		
		<include refid="Reply-Select"/>		
		where
			replynum=#{value}
	</select>
	
	<!-- 답변채택시 해당댓글은 bestreply가 0에서 1로 바뀜 -->
	<update id="bestreply" parameterType="Reply">
		update reply4
		set
		bestreply = 1
		where
			replynum = #{replynum}
	</update>
</mapper>